.ipynb_checkpoints/
solution-2019/Backup/
solution-2019/Original/
solution-2019/Trials/
solution-2019/Submission/
solution-2019/.ipynb_checkpoints/
solution-2019/Dataset/
solution-2019/PrintScreens/
solution-2020/dataset/
solution-2020/dataset.csv
solution-2020/extracted_features.csv
solution-2020/baseline_preds.csv
solution-2020/saves/
solution-2020/saves-2/
solution-2020/Tests.ipynb
